
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, sans-serif;
  min-height: 100vh;
  line-height: 1.6;
}

.light {
  background-color: #f3f4f6;
  color: #1f2937;
}

.dark {
  background-color: #0f172a;
  color: #e5e7eb;
}

.header {
  width: 100%;
  padding: 1.25rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dark .header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.header nav {
  display: flex;
  gap: 2.5rem;
   ;

}
.homelink {
  font-weight: 500;
  padding: 0.3rem 0.6rem;
  background: rgb(236, 233, 233);
  border-radius: 5px;
}
.homelink:hover {
  background: rgb(212, 208, 208);
}
.dark .homelink {
  background: #1e293b;
}
.header a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

main {
  max-width: 1000px;
  margin: 1rem auto;
  padding: 0 1.5rem;
}


.page {
  min-height: 100vh;
  padding: 2rem;
  border-radius: 10px;
  background-color: rgb(239, 238, 238);
  border: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.dark .page {
  background-color: #020617;
  border-color: #1e293b;
}
.task-input {
  display: flex;
  gap: 1rem;
}

.task-input input {
  flex: 1;
  padding: 0.8rem 1rem;
  border-radius: 6px;
  border: 1px solid #d1d5db;
}

.task-input button {
  padding: 0.8rem 1.3rem;
  border-radius: 6px;
  border: none;
  background-color: #2563eb;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.task-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.task {
  display: flex;
  align-items: center;
  padding: 1rem 1.25rem;
  border-radius: 8px;
  background-color: #f9fafb;
  border: 1px solid #e5e7eb;
}

.dark .task {
  background-color: #020617;
  border-color: #1e293b;
}

.task span {
  flex: 1;
}

.task.completed span {
  text-decoration: line-through;
  opacity: 0.6;
}

.task button {
  background: none;
  border: none;
  color: #ef4444;
  cursor: pointer;
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}

.stats p {
  padding: 1.5rem;
  border-radius: 8px;
  background-color: #f9fafb;
  border: 1px solid #e5e7eb;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
}

.dark .stats p {
  background-color: #020617;
  border-color: #1e293b;
}

@media (max-width: 640px) {
  .task-input {
    flex-direction: column;
  }

  main {
    margin: 1rem auto;
  }
}
